<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">
        <div class="pxa-after-import-messages">
            <f:flashMessages />
            <f:if condition="{errors}">
                <p class="bg-warning" style="padding: 15px;"><f:translate key="be.with_errors" /></p>
                <f:for each="{errors}" as="error">
                    <p class="bg-danger" style="padding: 15px;">{error}</p>
                </f:for>
            </f:if>
            <f:if condition="{logFile}">
                <p class="bg-info" style="padding: 15px;"><f:translate key="be.check_log" />: "{logFile}"</p>
            </f:if>
        </div>
        <h4><f:translate key="be.index.title" /></h4>
        <p class="lead"><f:translate key="be.index.description" /></p>

        <f:form action="import" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10">
                    <f:form.select name="import"
                                   id="pxa-import-select"
                                   options="{configurations}"
                                   optionLabelField="name"
                                   prependOptionValue="0"
                                   prependOptionLabel="{f:translate(key: 'be.select_conf')}"
                                   class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <b class="progress-label"><f:translate key="be.progress" />:</b>
                    <div id="import-progress-bar"><f:comment><!--Place holder for progress bar--></f:comment></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <button id="pxa-pm-import-submit"
                            type="submit"
                            data-loading-text="{f:translate(key: 'be.importing')}"
                            class="btn btn-default">
                        <f:translate key="be.submit" />
                    </button>
                </div>
            </div>
        </f:form>

        <hr>
        <div id="running-imports-wrapper" class="hidden">
            <p class="text-info"><b><f:translate key="be.running_imports" />:</b></p>
            <div class="well well-sm hidden" id="running-import-template">
                <b><f:translate key="be.name" />:</b> <span class="running-import-name"></span>
                <br>
                <b><f:translate key="be.started_at" />:</b> <span class="running-import-start"></span>
                <br>
                <b><f:translate key="be.progress" />:</b>
                <div class="import-progress-bar"><f:comment><!--Place holder for progress bar--></f:comment></div>
            </div>
        </div>
    </f:section>
</html>
