<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">
        <div class="pxa-after-import-messages">
            <f:flashMessages />
        </div>

        <h4><f:translate key="be.index.title" /></h4>
        <p class="lead"><f:translate key="be.index.description" /></p>

        <f:form action="import" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10">
                    <f:form.select name="configuration" id="pxa-import-select" class="form-control">
                        <f:form.select.option value="0"><f:translate key="be.select_conf" /></f:form.select.option>

                        <f:for as="extCofigurations" key="extKey" each="{configurations}">
                            <f:form.select.optgroup label="{extKey}">
                                <f:for as="configuration" each="{extCofigurations}">
                                    <f:form.select.option value="{configuration}">{configuration}</f:form.select.option>
                                </f:for>
                            </f:form.select.optgroup>
                        </f:for>
                    </f:form.select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <button id="pxa-pm-import-submit"
                            type="submit"
                            data-loading-text="{f:translate(key: 'be.importing')}"
                            class="btn btn-default">
                        <f:translate key="be.submit" />
                    </button>
                </div>
            </div>
        </f:form>

        <hr>
        <div id="running-imports-wrapper" class="hidden">
            <p class="text-info"><b><f:translate key="be.running_imports" />:</b></p>
            <div class="well well-sm hidden progress-bar-wrapper" id="running-import-template">
                <b><f:translate key="be.name" />:</b> <span class="running-import-name"></span>
                <br>
                <b><f:translate key="be.started_at" />:</b> <span class="running-import-start"></span>
                <br>
                <b><f:translate key="be.progress" />:</b>
                <div class="import-progress-bar"><f:comment><!--Place holder for progress bar--></f:comment></div>
            </div>
        </div>
    </f:section>
</html>
